{% extends "base.html" %}

{% block title %}
O'zimizniki - Post qo'shish
{% endblock  %}

{% block content %}
  <nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="#">
      <img src="https://aztester.uz/uzimizniki/assets/images/services/ozimizniki-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
      O'zimizniki
    </a>
  </nav>
<div class='p-3'>
    <label class="form-label">Account</label>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Useraccount
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            BuisnessAccount
        </label>
    </div>
</div>

<form class='p-3'>
  <div class="mb-3">
    <label class="form-label">Эълон сарлавҳаси</label>
    <input class="form-control" id="exampleAnnouncement" placeholder="Эълон сарлавҳаси" >
    <div id="emailHelp" class="form-text">Some useful tip</div>
  </div>
</form>

<select id='mySelect' class="form-select" size="3" aria-label="size 3 select example">
  {% for category in categories %}
  <option value="{{ category.id  }}">{{ category.name }}</option>
  {% endfor %}
</select>

<select id='mySelect2' class="form-select" size="3" aria-label="size 3 select example" style="display: none;">
  {% for category in categories %}
  <option value="{{ category.id  }}">{{ category.name }}</option>
  {% endfor %}
</select>



  <script>
    window.Telegram.WebApp.expand()

      // Get the select element by its id
    var mySelect = document.getElementById("mySelect");
    var mySelect2 = document.getElementById("mySelect2");

    // Add an event listener to handle the change event
    mySelect.addEventListener("change", function() {
      // Get the value of the selected option
      var selectedValue = mySelect.value;
      mySelect2.style.display = "block";
    });

    function somen(datta){
      console.log(datta)
    }

  </script>


{% endblock %}